# Autosave files
*~

notes.txt

# build
[Oo]bj/
[Bb]in/
build/
[oO]ut/
deploy/
paket-files/
packages/
TestResults/
.fake/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
*.dll
*.pdb

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
