
@page "{vinmonopoletId}"
@model Wines.Search
@{
    ViewData["Title"] = "Search";
}
<h2>Search result</h2>
<div>
    <ul>
    <li>@Model.Result.VinmonopoletId</li>
    <li>@Model.Result.Name</li>
    <li>@Model.Result.Vintage</li>
    </ul>
</div>

