<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/vendor/bulma/css/bulma.min.css" />
  </head>
  <body class="has-navbar-fixed-bottom">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Wineventory
          </h1>
        </div>
      </div>
    </section>

    @RenderBody()

    <nav class="navbar is-fixed-bottom is-warning">
      <div class="container">

      <a asp-page="/Wines/Index" class="navbar-item">
        Wines
      </a>
      <a asp-page="/Wines/AddWine" class="navbar-item">
        Add new 
      </a>
      </div>
    </nav>

    <script src="~/js/site.js" asp-append-version="true"></script>
  </body>
</html>
